body {
  margin: 0;
  background-color: #F5F5F7;
}

.animation-container {
  width: 350px;
  height: 500px;
  border: 1px solid #000;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  /* Add Flexbox */
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.search-box {
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  position: relative;
  transition: width 0.5s ease;
  margin: 0 auto 20px auto; /* Center horizontally */
  border-radius: 10px;
}

.search-box.first-search {
  width: 50px; /* Initial small width */
}

#search-input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Adjusted padding for icon */
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 30px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 18px;
  pointer-events: none;
}

.image-container {
  width: 300px;
  height: 400px;
  position: relative;
  margin: 0 auto; /* Center horizontally */
  border-radius: 5px;
}

#skeleton-loader {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  animation: pulse 1s infinite;
  display: none;
  border-radius: 5px;
}

@keyframes pulse {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}

#result-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  display: none;
  border-radius: 5px;
}

/* Custom cursor styles */
#custom-cursor {
  width: 24px; /* Adjust size based on your image */
  height: 36px; /* Adjust size based on your image */
  background-image: url('cursor.png'); /* Replace with the path to your cursor image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none; /* Hide initially */
}
